{% extends 'bootstrap/base.html' %}

{% block title %}Video Repository{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/css/dataTables.bootstrap5.min.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Video Repository</h1>
    <!-- Video Table -->
    <table id="videos" class="table table-striped">
        <thead>
            <tr>
                <th>Original File Name</th>
                <th>Original File Date</th>
                <th>Converted File Name</th>
                <th>Converted File Date</th>
                <th>Claim Number</th>
                <th>Notes</th>
                <th data-orderable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>{{ video[1] }}</td>
                <td>{{ video[2] }}</td>
                <td><a href="/play/{{ video[3] }}">{{ video[3] }}</a></td>
                <td>{{ video[4] }}</td>
                <td>
                    <form action="/update" method="POST">
                        <input type="hidden" name="id" value="{{ video[0] }}">
                        <input type="text" name="claim_number" value="{{ video[5] }}">
                </td>
                <td>
                    <textarea name="ad_notes">{{ video[6] }}</textarea>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
                    </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/dataTables.bootstrap5.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#videos').DataTable({
            columnDefs: [
                { type: 'string', targets: 4 } // specify the data type of the third column (Claim Number)
            ]
        });
    });
</script>
{% endblock %}
